@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Mate&display=swap');

body,
html {
  margin: 0;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #53a8b6; 
  color: white;
  width: 100%;
  padding: 5px 0;
}

.navbar-title {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

.navbar-left {
  margin-left: 35px;
  align-items: center;
  display: flex;
  gap: 10px;
}

.logo {
  width: 50px;
}

.color-title {
  color: #225d97;
  font-size: 35px;
  font-style: oblique;
}

ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Maven Pro", sans-serif;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 40px;
}

/* Mobile Menu toggle */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-right: 25px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #53a8b6; 
  top: 23px;
  left: 0px;
  width: 100%;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out; /* Smooth transition effect */
}

/* Show the mobile menu by changing the opacity and height */
.active {
  opacity: 1;
  height: 100%;
  transition-delay: 0.05s;
  margin-top: 37px;
}

.navbar-links li {
  padding: 10px;
 
}

a {
  font-family: 'Cormorant Garamond', serif !important;
  font-size: 30px !important;
}


.desktop-links a:hover {
  color: #2a5c8f;
  transform: scale(1.3);
}

@media (max-width: 1010px) {
  .navbar-title {
    font-size: 19px;
  }

  .color-title {
    font-size: 20px;
  }

  .desktop-links {
    display: none !important;
  }

  .menu-icon {
    display: block !important;
  }

  ul li a {
    margin-left: -65px;
  }

  .navbar-left {
    margin-left: 5px;
  }
}